body {
    margin: 0;
    overflow: hidden;
    background-color: #000000; /* Jasne niebo */
}

svg {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/* Animacja paralaksy */
#layer1 {
    transform: translateX(0);
    transition: transform 0.1s ease-out;
}

#layer2 {
    transform: translateX(0);
    transition: transform 0.1s ease-out;
}

#layer3 {
    transform: translateX(0);
    transition: transform 0.1s ease-out;
}